/** Reset **/
* {
    padding: 0;
    margin: 0;
}

/** Main CSS **/
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p {
    padding: 8px;
}

.ribbon {
    height: 12px;
    background-color: #1E261F;
}

#content {
    background-color: #FFF;
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
}

#teaching-statement-bg {
    background-color: rgb(128, 128, 128, 0.15);
    padding: 10px;
    font-family: 'Pill Gothic';
}

#footer{
    display: inline-block;
    width: 100%;
    background-color: #5E6B6A;
    color: #FFF;
    min-height: 75px;
}

#footer p a 
{
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

#footer p a:hover 
{
    color: lightgrey;
    transition: all 0.2s ease-in-out;
}

/** Helper CSS **/
